<section class="bookform">
  <div class="container relative mx-auto">
    <div class="mt-4 bg-accent/20 p-4 lg:absolute lg:inset-x-0 lg:-top-12 lg:z-30 lg:p-0 lg:shadow-xl">
      <form class="h-[300px] w-full lg:h-[70px]">
        <div class="flex h-full w-full flex-col lg:flex-row">
          <div class="flex-1 border-r">
            <app-date-picker placeholder="Check in"></app-date-picker>
          </div>
          <div class="flex-1 border-r">
            <app-date-picker placeholder="Check out"></app-date-picker>
          </div>
          <div class="flex-1 border-r">
            <app-people-picker placeholder="Adults"></app-people-picker>
          </div>
          <div class="flex-1 border-r">
            <app-people-picker placeholder="Kids"></app-people-picker>
          </div>

          <button
            type="submit"
            class="btn btn-primary"
          >
            Check now
          </button>
        </div>
      </form>
    </div>
  </div>
</section>