<section className="hero">
  <swiper
    effect="fade"
    [loop]="true"
    [autoplay]="{ delay: 3000, disableOnInteraction: false }"
    class="heroSlider h-[600px] lg:h-[860px]"
  >
   <ng-container *ngFor="let slide of slides; index as i">
      <ng-template swiperSlide class="relative flex h-full items-center justify-center bg-pink-200">
        <div class="container z-20 mx-auto text-center text-white">
          <div class="mb-5 font-tertiary uppercase tracking-[6px]">
            Just Enjoy & Relax
          </div>
          <h1 class="mx-auto mb-6 max-w-[920px] font-primary text-[32px] uppercase tracking-[2px] lg:text-[68px]">
            {{slide.title}}
          </h1>
          <button class="btn btn-primary btn-lg mx-auto">
            {{slide.btnText}}
          </button>
        </div>
        <div class="absolute top-0 left-0 h-full w-full">
          <img
            [src]="slide.background"
            alt="hero slide image"
            className="h-full w-full object-cover object-center"
          />
        </div>
        <div class="absolute top-0 left-0 h-full w-full bg-black/50"></div>
      </ng-template>
    </ng-container>
  </swiper>
</section>