<section class="rooms">
  <div class="container mx-auto py-24">
    <div class="text-center">
      <div class="font-tertiary text-[15px] uppercase tracking-[6px]">
        Hotel & Spa Adina
      </div>
      <h2 class="mb-4 font-primary text-[32px] lg:text-[45px]">
        Hotel & Suites
      </h2>
    </div>
    <div class="mx-auto grid max-w-sm grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <ng-container *ngFor="let room of rooms; index as i"><app-room [room]="room"></app-room></ng-container>
    </div>
  </div>
</section>