<div class="bg-secondary-100">
  <div class="container mx-auto px-5 py-12 md:py-20">
    <div *ngIf="image" class="relative pb-14">
      <img
        [src]="image"
        [alt]="imageAlt"
        class="h-56 w-full object-cover sm:h-72 md:h-80 lg:h-96"
      />
    </div>
    <div>
      <h2 *ngIf="heading" class="font-times text-3xl text-primary-700 lg:text-4xl">
        <span class="block font-bold leading-tight xl:inline">
          {{heading}}
        </span>
      </h2>

      <div *ngIf="cta && cta.isEnabled" class="pt-5">
        <app-cta
          [url]="cta.url"
          [text]="cta.text"
          [hasPrimaryCta]="cta.hasPrimaryCta"
        />
      </div>
    </div>
  </div>
</div>